body,
html {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    width: 100%;
    height: 100%;
}


.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}




.header{
    
    position: fixed; 
    top: 0;         
    left: 0;         
    width: 100%;    
    z-index: 1000;   
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw -1300px)/2);
    background-color: white;
    border-bottom: 1px solid black;

}

.header-elements{
display: flex;
gap: 2rem;
padding: 2rem;
}


.logo{
    list-style: none;
    margin-right: auto;
    cursor:pointer;
    }
    .logo img {
    display: block;
    margin-left: 19.2%;
    margin-right: auto;
    margin-top: -0.5%;
    width: 59%;


    }


.header.shrink {
height: 60px;
padding: 0 1rem;
transform: translateY(-40px);
}

body.scrolled .header {
height: 60px;
padding: 0 1rem;
}
.header-elements a{
/*navigation elements-size*/
text-decoration: none;
color: black;
padding: 0 1.5rem;
font-weight: bold; 
font-size: 1.2rem;
}

.header-elements a:hover {
text-decoration: underline;
}

.shadow {
    width: calc(100% - 25%);
    height: 183px;
    top: 120px;
    left: 50%;
    transform: translateX(-49%);
    position: absolute;
    background: black;
    border-radius: 21px;
}


.search-panel {
    width: calc(100% - 25%);
    height: 175px;
    top: 114px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: #C8E9C6;
    border-radius: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}




.search-section {
    transform: translateY(10px);
   }
.search-title {
    color: black;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align:center;
    /* margin-top: -89px; */
}
/* .search-title-startYear{
    color: black;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align:center;
    margin-top: 50px;
}
.select-multiple-startyear{
    width: 250px;
    height: 90px;
    margin-top: -30px;
    font-size: 18px;
} */

.select-wrapper {
    position: relative;
}

/* .select-boxforcountry{
    width: 200px;
    height: 31px;
    background: #D9D9D9;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 22px;
    padding: 0 10px;
    appearance: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
} */


.select-boxforcity.select-type{
    width: 213px;
    height: 31px;
    background: #D9D9D9;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 22px;
    padding: 0 10px;
    appearance: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.select-type{
    background-color: white;
    width: 80px;
    height: 35px;

}

input[type="checkbox"]{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}


.select-boxfordisplay, .select-type{
    width: 235px;
    height: 31px;
    background: #D9D9D9;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 22px;
    padding: 0 10px;
    appearance: none;
    cursor: pointer;

}


.select-box {
    background-color: white;
    width: 150px;
}
.select-multiple{
    width: 220px;
    height: 100px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 0 10px;
    appearance: none;
    cursor: pointer;
}

#period{
    width: 200px;
    height: 31px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 22px;
    padding: 0 10px;
    appearance: none;
    cursor: pointer;

}


.select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    pointer-events: none;
}


.results-container {
    width: calc(100% - 34px);
    height: 610px;
    position: absolute;
    left: 17px;
    top: 394px;
    background: black;
    border-radius: 55px;
}

.results-inner {
    width: calc(100% - 39px);
    height: 585px;
    position: absolute;
    left: 19px;
    top: 14px;
    background: #FFFEFF;
    border-radius: 51px;
    overflow-y: scroll;
    
}

.search-button {
    width: 194px;
    height: 48px;
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translateX(-50%);
    background: #393939;
    border-radius: 30px;
    color: white;
    font-size: 32px;
    border: none;
    cursor: pointer;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #D8D8D8;
    color: black;
    font-size: 23px;
    font-weight: 400;
}

th {
    font-weight: bold;
    background-color: #91ad8f;
}

tr:last-child td {
    border-bottom: none;
}
tr:nth-child(even){
    background-color: #e4e4e4; 
    
}

.row-border {
    width: 1332px;
    height: 0;
    position: absolute;
    left: 0;
    border: 1px #D8D8D8 solid;
}


.search-section:nth-child(1) {
    left: 45px;
    top: 37px;
}

.search-section:nth-child(2) {
    left: 306px;
    top: 37px;
}

.search-section:nth-child(3) {
    left: 586px;
    top: 37px;
}

.search-section:nth-child(4) {
    left: 805px;
    top: 38px;
}

.search-section:nth-child(5) {
    left: 10005px;
    top: 38px;
}



.search-section:nth-child(2) .select-box {
    width: 223px;
}

.row-border:nth-child(8) {
    top: 146px;
}

.row-border:nth-child(9) {
    top: 69px;
}

.row-border:nth-child(10) {
    top: 255px;
}

.row-border:nth-child(11) {
    top: 336px;
}

.row-border:nth-child(12) {
    top: 435px;
}

.row-border:nth-child(13) {
    top: 528px;
}
